.aboutInfo{
	display: inline-block;
	background: white;
	text-align: left;
	padding: 1em;
	border: 1px solid black;
	
}

.imgDiv{
	text-align: center;
}

.closePopup{
	float: right;
}

.header{
	font-size: 2em;
}

@media (min-width: 700px) {
	.aboutInfo{
		width: 50%;
	}
}

.aboutContainer{
	width: 100%;
	height: 100%;
	text-align: center;
}

.gapItem{
	height: 5em;
}

