:root{
	--regColor: 	
	linear-gradient(180deg, hsla(0,0%,100%,0), #fff),
	linear-gradient(70deg, rgba(175,206,255,.2), 30%, rgba(175,206,255,.2));

	--altColor: #ededed;
}

.largeSearchBox{
	width: 50%;
	border: 1px solid rgba(200,200,200,0.8);;
	border-radius: .5em;
	margin: 1em;
	padding: 1em;
	display: inline-block;
	color: black;
	
    background-image: 
	linear-gradient(180deg, hsla(0,0%,100%,0), #fff),
	linear-gradient(70deg, rgba(175,206,255,.2), 30%, rgba(175,206,255,.2));
	/*linear-gradient(70deg, #ededed, 30%, #ededed);*/
}

.hidden{
	display: none;
}

.advancedBox{
	/*border-top: rgba(200,200,200,0.7) 2px solid;*/
    margin-top: .5em;
    background: rgba(200,200,200,0.2);
    border-radius: .5em;
}

.searchButton{
	text-align: left;
    margin-left: 1em;
    margin-top: 1em;
}

.advancedToggle{
	font: 1em sans-serif;
	color: blue;
	cursor: pointer;

}

.advancedToggle:hover{
	text-decoration-line: underline;
}


.advancedDiv{
	text-align: left;
    margin-top: .5em;
}

.advancedBox div{
	/*background: rgba(200,200,200,0.2);*/
}

.noSelect{
		-webkit-touch-callout: none; /* iOS Safari */
		  -webkit-user-select: none; /* Safari */
		   -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Old versions of Firefox */
			  -ms-user-select: none; /* Internet Explorer/Edge */
				  user-select: none; /* Non-prefixed version, currently
										supported by Chrome, Edge, Opera and Firefox */
}

.mainSearch{
	width: 40%;
	float: left;
	
}