.pageDiv{
	margin: auto;
	margin-bottom: 1em;
}

.pageButton{
	border: 1px black solid;
	border-radius: 1em;
	display: inline-block;
	padding: 5px; /*change to relative*/
	cursor: pointer;
	margin-left: .1em;
	margin-right: .1em;
}

.disableClick{
	color: grey;
	border-color: grey;
}

.noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }