:root {
	--colorOne: #32be32;
	--colorTwo: rgba(91, 255, 91, 0.884);
	--paddingOne: 5px;
}

.checkBoxInputDiv{
	border-radius: 1em;
	padding: var(--paddingOne);
	border: white 1px solid;
	cursor: pointer;
}

.checkedItem{
	color: black;
	background: white;
	padding: var(--paddingOne);
	cursor: pointer;
}

.searchComponentDiv{
	display: inline-block;
	border-radius: 1em;
	padding: var(--paddingOne);
	color: white;

}

.textInput{
	border-radius: 1em;
	padding: var(--paddingOne);
}



.textInputDiv{
	display: inline-block;
}

.textSearchIcon{
	color: var(--colorTwo);
	display: inline-block;
	padding: var(--paddingOne);
	cursor: pointer;
}

.textSearchButton{
	
}

.noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }