:root{
	--tabColorFour: rgb(172, 140, 200);
	--tabColorFive: rgb(130, 43, 206);
	--tabColorSix: rgb(47, 235, 210);
	
	--tabColorSeven: rgb(77, 250, 180);
	--tabColorEight: rgb(13, 66, 148);
	--tabColorNine: rgb(81, 100, 129);

	--tabMainColor: black;
	--tabOtherColor: grey;

}

.searchComponentDiv{
	display: inline-block;
	/*May make block in mobile*/
}

.textInputDiv{
	display: inline-block;
}

.textInput{
	border: 1px solid black;
	border-radius: 1em;
}

.textSearchIcon{
	display: inline-block;
}

.textSearchButton{
	color: white;
	/*background-color: var(--tabOtherColor);*/
	padding: 0.4em;
	cursor: pointer;
	border: 2px solid white;
    border-radius: 2em;
}


.checkedItem{
	color: black;
	background-color: white;
}

.sortDisp{
	float: right;
	margin-left: .2em;
    background: black;
    color: white;
    padding: .1em;
    padding-left: .25em;
    /* float: right; */
    /* top: 0px; */
    /* display: inline-flex; */
    border-radius: 1em;
    padding-right: .25em;
}

.searchMain{
	width: 100%;
	background-color: var(--tabMainColor);
	margin-bottom: 1em;
}

.altStyleButton{
	border: 1px solid rgba(200,200,200,0.8);
	
	color: black;
	background: white !important;
	/*border-radius: .5em;*/

}



.stickyParent{
	/* height: 70px; */
	position: sticky;
	z-index: 100;
	top: 0;
}

.stickySearch{
	/*display: flex;*/
    align-items: center;
    position: sticky;
    /*height: 120px;*/
    position: sticky;
}