:root {
	--colorTextBright: black;
	--colorBackgroundBright: white;
	--colorTextDark: white;
	--colorBackgroundDark: black;
	--paddingOne: 5px;
}

.headerText{
	/*linear-gradient( 0deg ,var(--tabColorSix),#64acff)*/
	/*font-size: 1.5em;*/
	font-size: 2em;
	color: var(--colorTextDark);
	display: inline-block;
	background: -webkit-linear-gradient(
		-70deg
		,#a2facf,#64acff);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.HeaderDiv{
	background-color: var(--colorBackgroundDark);
	width: 100%;
	text-align: left;
	/*padding: .5em;*/
	padding-bottom: .5em;
	padding-top: .5em;
	margin-bottom: 1em;


}

@media (max-width: 700px) {
	.HeaderDiv{
		margin-bottom: 0;
	}
}

.styleButtonsDiv{
	display: inline-block;
    float: right;
    position: absolute;
    right: 1em;
}

.styleButton{
	border: 1px var(--colorTextDark) solid;
	border-radius: 1em;
	color:var(--colorTextDark);
	display: inline-block;
}

.fullPageItem{
	background: rgba(200, 200, 200, 0.5);
    /* height: 100vh; */
    width: 100%;
    /* display: block; */
    position: fixed;
    top: 0;
    bottom: 0;
	z-index: 101;
}

.topMenu{
    font-size: 1.25em;
    margin-left: 5px;
    color: white;
    margin-left: 1em;
	cursor: pointer;
}

.icon{
	margin-right: .25em;
	display: inline-block;
}