:root{
	--tabColorOne: blue;
	--tabColorTwo: green;
	--tabColorThree: lightblue;

	--tabColorFour: rgb(172, 140, 200);
	--tabColorFive: rgb(130, 43, 206);
	--tabColorSix: rgb(47, 235, 210);

	--tabColorSeven: rgb(77, 250, 180);
	--tabColorEight: rgb(13, 66, 148);
	--tabColorNine: rgb(81, 100, 129);

	--tabMainColor: black;
	--tabOtherColor: grey;


}

.tabSelected{
	background: var(--tabMainColor) !important;
	color: white !important;
	padding-top: 0.75em !important;
}

.tabItem{
	min-width: 25%;
    display: inline-block;
    padding: 0.5em;
    /*background: var(--tabOtherColor);*/
    color: white;
	/*cursor: pointer;*/

    border: 1px solid var(--tabOtherColor);
    color: var(--tabOtherColor);
    /*font-size: 1.5em;*/

	font-size: 1em;
}

.tabContainer{
	margin: auto;
	/*background-color: var(--tabColorNine);*/
	/*text-align: left;*/
    width: 75%;
	margin-bottom: .5em;
}

.titleBox{
	background-color: black;
		margin-bottom: 1em;
}

.noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }